.options {
  height: 2.5rem;
  width: 70%;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 .025rem rgb(96, 108, 118);
}

.options:focus{
  outline: none;
  box-shadow: 0 0 0 .1rem rgb(126, 88, 161)
}


.label {
    font-weight: 400;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
